<div class="user_rank">
  <div class="inside">
    <div class="rank_container">
      <h2>出品</h2>
 <%= link_to '本を売る', new_product_path %>
    </div>

    <div class="social_button">

    </div>
  </div>
</div>